.calc-app {
    margin: 0 auto;
    margin-top: 40px;
    width: 256px;
    text-align: center;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
}

input[type="text"] {
    height: 60px;
}

#clear {
    grid-column: 1/3;
    grid-row: 1;
    color: red;
}

#result {
    grid-column: 3/5;
    grid-row: 5;
    color: green;
}

#backspace {
    color: orange;
}
